body {
    font-family: 'Roboto', sans-serif;
}

.main {
    min-height: 500px;
}

a:link,
a:visited {
    color: #654d31;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

/* Header and footer */
.jumbotron {
    background-image: url('/assets/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 150px -350px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.jumbotron div {
    color: #fff;
    font-family: 'Pattaya', cursive;
    font-size: 5em;
    background-color: rgba(101,77,49,.4);
    padding-right: 50px;
}

footer div {
    margin-top: 100px;
    margin-bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #efedea;
    padding-top: 25px;
}

/* Navigation */
#main-navbar {
    background-color: #654d31;
    border-color: #83705a;
    margin-left: 0;
    margin-right: 0;
}

#main-navbar a {
    color: #efedea;
    text-transform: uppercase;
    padding-left: 45px;
    padding-right: 45px;
}

#main-navbar a:focus,
#main-navbar a:hover,
#main-navbar a:active {
    background-color: #322618;
    border-bottom: none;
}

.heading {
    text-transform: uppercase;
    color: #000;
    padding-bottom: 8px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    border-bottom-color: #000;
}

/* Folder full view */
.folder-entry {
    padding: 12px 8px;
    border: 1px solid #d0c9c1;
    border-bottom: none;
}

.folder-entry:nth-child(even) {
    background: #efedea;
}

.folder-entry:first-child {
    border-radius: 4px 4px 0 0;
}

.folder-entry:last-child {
    border-bottom: 1px solid #d0c9c1;
    border-radius: 0 0 4px 4px;
}

.folder-entry-link:hover,
.folder-entry-link:focus {
    border-bottom: none;
}

/* Dog breed full view */
.dog-breed-image-full {
    float: left;
    margin-right: 20px;
}

/* Article full view */
.article-title {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
    font-size: 1.3em;
    padding: 7px;
}

.article-lead {
    padding-top: 2.4em;
    padding-bottom: 0.7em;
}

/* Tip full view */
.tip-heading-full {
    border-bottom-color: #efedea;
}

.tip-text-full {
    padding-top: 20px;
    padding bottom: 30px;
}

.tip-full {
    background: #d0c9c1;
    border-radius: 3px;
    padding: 15px;
    margin-top: 30px;
}

/* Landing Page */
@media only screen and (min-width: 992px) {
    aside > div {
        padding-left: 45px;
    }
}

/* Content list block */
.content-list-item {
    clear: left;
    min-height: 90px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.content-list h5 {
    font-size: 1.3em;
}

.content-list-item-image {
    float: left;
    margin-right: 10px;
}

/* Featured articles schedule block */
.featured-article-container {
    background-size: cover;
    padding: 0;
}

.featured-article {
    height: 200px;
    padding: 0;
    background-repeat: no-repeat;
}

.featured-article-link:link,
.featured-article-link:visited {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(255,255,255,.8);
    color: #000;
    font-size: 1.1em;
    padding: 7px;
}

.featured-article-link:hover,
.featured-article-link:focus {
    color: #654d31;
    text-decoration: none;
    border-bottom: none;
}

/* Other articles schedule block */
.other-articles-block {
    padding-top: 20px;
}

.other-article {
    clear: left;
    padding-top: 5px;
}

.other-article-image {
    float: left;
    margin-right: 18px;
}

.other-article h5 {
    padding-top: 25px;
    font-size: 1.2em;
}

.other-article-link:link,
.other-article-link:visited {
    font-size: 1.2em;
}
