{% if menuItems is defined and menuItems is not empty %}
    {% for item in menuItems %}
        <li><a href="{{ path(item) }}">{{ ez_content_name(item.contentInfo) }}</a></li>
    {% endfor %}
{% endif %}
