ez_systems_landing_page_field_type:
    layouts:
        sidebar:
            identifier: sidebar
            name: Right sidebar
            description: Main section with sidebar on the right
            thumbnail: '/assets/images/layouts/sidebar.png'
            template: 'layouts/sidebar.html.twig'
            zones:
                first:
                    name: First zone
                second:
                    name: Second zone
